:root {
    --primary: #2c2d64;
    --secondary: #FF5F3F;
    --selected: #505377;
    --background: #F5F5F5;
    --light-gray: #D7D7D7;
    --accent: #505377;
    --white: #FFFFFF;
    --soft-orange:#ff9900;
    --soft-yellow: #FFFABF;
    --soft-purple: #a85f9a;
    --yellow: #ffff00;
    --green: #009933;
    --soft-green: #33cc33;
    --preto: #000000;
    --error: #8A0303;
    --blue: #0000FF;
    --red: #FF0000;
  }