.empty-message {
    text-align: center;
    padding: 2rem;
    color: var(--accent);
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    border: 1px dashed var(--soft-green);
    border-radius: 10px;
    margin-top: 1.5rem;
    min-height: 500px;

  }
  
  .empty-icon {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: var(--soft-green);
  }
  